.announcement, .announcement:hover, .announcement:focus {
    outline: none !important;
    border-radius: 12px;
    color: white;
}

.sidebar.close ~ .container{
    left: 0px;
    width: calc(100% - 78px);
}