.application-left, .application-left:hover, .application-left:focus {
    outline: none !important;
    border-radius: 12px 0px 0px 12px;
    color: white;
}

.application-right,.application-right:hover, .application-right:focus {
    outline: none !important;
    border-radius: 0px 12px 12px 0px;
    color: white;
    border: none;
}
.state-one, .state-one:hover, .state-one:focus {
    background-color: #a47bc3;
}
.state-two, .state-two:hover, .state-two:focus {
    background-color: #bd2a1f;
}
.state-three, .state-three:hover, .state-three:focus {
    background-color: #ec6d00;
}
.state-four, .state-four:hover, .state-four:focus {
    background-color: #e4a720;
}
.state-five, .state-five:hover, .state-five:focus {
    background-color: #14773c;
}